$primary-color: #001529; // Màu chính của sidebar và menu
$heading-color: #333;     // Màu cho tiêu đề
$text-color: #666;        // Màu cho text thường
$text-color-secondary: #777;
$border-radius-base: 4px;

